<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stream RTC</title>
  </head>
  <body>
    <h1>Nguyen Hoang Thang</h1>
    <video id="localStream" width="1000" controls></video>
    <br /><br />
    <video id="friendStream" width="1000" controls></video>
    <br /><br />
    <label> Connect Token</label><br /><br />
    <textarea rows="3" cols="100" id="txtMySignal"></textarea>
    <br /><br />
    <input type="text" placeholder="Token cua ban" id="txtFriendSignal"></input>
    <br /><br />
    <button id="btnConnect">Connect</button>
  </body>
  <script src="bundle.js"></script>
</html>
