<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stream RTC</title>
  </head>
  <body>
    <h1>Nguyen Hoang Thang</h1>
    <video id="localStream" width="1000" controls></video>
  </body>
  <script src="bundle.js"></script>
</html>
